# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# Firebase Configuration Files
google-services.json
GoogleService-Info.plist
firebase_options.dart
firebase.json
.firebase/
firebase-debug.log
firebase-debug.*.log

# Credentials and Keys
key.properties
**/android/**/key.jks
**/android/**/keystore.properties
**/ios/**/GoogleService-Info.plist
.env*

# IDE specific
.idea/
.vscode/
*.iws
.DS_Store
*.iml
*.ipr
*.iws
.idea/
edconnect_admin.code-workspace

# Android specific
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
**/*.keystore
**/*.jks

# iOS/XCode specific
**/*.mode1v3
**/*.mode2v3
**/*.moved-aside
**/*.pbxuser
**/*.perspectivev3
**/*sync/
**/.sconsign.dblite
**/.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
**/Flutter/App.framework
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/Flutter/Generated.xcconfig
**/Flutter/ephemeral/
**/Flutter/app.flx
**/Flutter/app.zip
**/Flutter/flutter_assets/
**/Flutter/flutter_export_environment.sh
**/ServiceDefinitions.json
**/Runner/GeneratedPluginRegistrant.*

# macOS specific
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/**/*.mode1v3
**/macos/**/*.mode2v3
**/macos/**/*.pbxuser
**/macos/**/*.perspectivev3
**/macos/**/*sync/
**/macos/**/.sconsign.dblite
**/macos/**/.tags*
**/macos/**/.vagrant/
**/macos/**/DerivedData/
**/macos/**/Icon?
**/macos/**/Pods/
**/macos/**/.symlinks/
**/macos/**/profile
**/macos/**/xcuserdata
**/macos/**/.generated/
**/macos/**/.DS_Store

# Linux specific
**/linux/flutter/ephemeral/

# Windows specific
**/windows/flutter/ephemeral/
**/windows/x64/
**/windows/x86/
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.docstates
**/*.cache

